html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.main-page {
  width: 100%;
  height: 100%;
  background-image: url("/static/images/open-sea.jpeg");
  background-size: cover;
  background-position: center; }
  .main-page h1 {
    color: #0e0101;
    text-align: center;
    text-transform: uppercase;
    font: 30px monospace; }
  .main-page .main-field {
    display: flex;
    justify-content: left; }
    .main-page .main-field .letters {
      display: flex;
      left: 5px;
      position: absolute;
      width: 400px;
      height: 40px;
      margin-left: 40px; }
      .main-page .main-field .letters .square1 {
        text-align: center;
        position: relative;
        top: 15px;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        box-sizing: border-box; }
    .main-page .main-field .letters2 {
      display: flex;
      left: 455px;
      position: absolute;
      width: 400px;
      height: 40px;
      margin-left: 40px; }
      .main-page .main-field .letters2 .square1 {
        text-align: center;
        position: relative;
        top: 15px;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        box-sizing: border-box; }
    .main-page .main-field .numbers {
      top: 80px;
      width: 40px;
      height: 400px;
      position: absolute; }
      .main-page .main-field .numbers .square1 {
        text-align: center;
        position: relative;
        top: 15px;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        box-sizing: border-box; }
    .main-page .main-field .numbers2 {
      top: 80px;
      left: 450px;
      width: 40px;
      height: 400px;
      position: absolute; }
      .main-page .main-field .numbers2 .square1 {
        text-align: center;
        position: relative;
        top: 15px;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        box-sizing: border-box; }
    .main-page .main-field .field {
      display: flex;
      flex-flow: row wrap;
      margin-left: 40px;
      margin-top: 40px;
      border: 5px solid #0b9eee;
      background-image: url("/static/images/battle_back.jpeg");
      background-size: cover;
      background-position: center;
      width: 400px;
      height: 400px; }
      .main-page .main-field .field .square {
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        border: 1px solid #aaa;
        background-color: #eee;
        box-sizing: border-box;
        opacity: 20%; }
    .main-page .main-field .boat1 {
      top: 150px;
      left: 1000px;
      position: absolute;
      background-color: burlywood;
      width: 40px;
      height: 40px; }
    .main-page .main-field .boat2 {
      top: 225px;
      left: 1000px;
      position: absolute;
      background-color: burlywood;
      width: 80px;
      height: 40px; }
    .main-page .main-field .boat3 {
      top: 300px;
      left: 1000px;
      position: absolute;
      background-color: burlywood;
      width: 120px;
      height: 40px; }
    .main-page .main-field .boat4 {
      top: 375px;
      left: 1000px;
      position: absolute;
      background-color: burlywood;
      width: 160px;
      height: 40px; }
